<!DOCTYPE html>
<html lang="en">

<head>
    <meta charset="UTF-8" />
    <meta http-equiv="X-UA-Compatible" content="IE=edge" />
    <meta name="viewport" content="width=device-width, initial-scale=1.0" />
    <title>NODE JS</title>
</head>

<body>
    <nav>
        <div class="site-title">
            <a href="/">
                <h1>Blog site</h1>
            </a>
            <p>A Blog site for readers</p>
        </div>
        <ul>
            <li>
                <a href="/">Blogs</a>
            </li>
            <li>
                <a href="/about">About</a>
            </li>
            <li>
                <a href="/blogs/crate">New Blog</a>
            </li>
        </ul>
    </nav>
    <div class="bolgs content">
        <h2>All Blogs</h2>
    </div>
</body>

</html>